$headings-font-family: "Bebas Neue", "Montserrat", Roboto, "Helvetica Neue";
$font-family-sans-serif: "Montserrat", Roboto, "Helvetica Neue";
$primary: #0f056b;
$headings-color:#0f056b;
$secondary:#f3a712;
$white:#f0f7ee;
$dark: #090C02;
$light:#808080;
$card-bg: #FCFCFC; 
