$headings-font-family: "Bebas Neue", "Montserrat", Roboto, "Helvetica Neue";
$font-family-sans-serif: "Montserrat", Roboto, "Helvetica Neue";
$primary: #0f056b;
$secondary:#f3a712;
$dark: #0f056b;
$headings-color: #284876;
$card-bg: #FCFCFC; 
