@import "variable_overrides";
@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
           url("../fonts/BebasNeue-Regular.woff") format("woff");
   }
   @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
   }
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    /*padding-top: 6rem;*/
    font-size: 18px;
    overflow-x: hidden;
    margin-bottom:0;
    padding-bottom: 0;
}

.hero {
    max-height: 630px;
    min-height: 630px;
    background:  linear-gradient(
        rgba(15, 5, 107, 0.6), 
        rgba(15, 5, 107, 0.6)
      ), url('../images/header.png') no-repeat 50% 50%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.max-height-hero {
    max-height: 630px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ImageCitation
{
    height: 300px;
    max-height: 300px;
    background:  linear-gradient(
        rgba(15, 5, 107, 0.6), 
        rgba(15, 5, 107, 0.6)
      ), url("../images/citation.png") no-repeat 50% 50%;
    background-position: bottom;
    background-size: cover;
    position: relative;
    
}
.LogoPartenaire
{
    max-width: 300px;
    margin: auto;
}

@mixin letter-spacing-big {
    letter-spacing: 0.15em;
}
@mixin letter-spacing-small {
    letter-spacing: 0.06em;
}

h1 {
    @include letter-spacing-big;
}

h2 {
    @include letter-spacing-big;
}

h3 {
    @include letter-spacing-big;
}

h4 {
    @include letter-spacing-small;
}

h5 {
    @include letter-spacing-small;
}

ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .9s ease, background-color .9s ease;
}
.navbar-nav .nav-item:hover:after {
    width: 100%;
    background: $secondary;
}

#social-test {
    font-size: 30px;
  }
  
  footer {
      margin-bottom:0;
    padding-bottom: 0;
    position: absolute;
    height: auto;
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }